<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить</title>
</head>
<body>

<h1 align="center">Введите информацию о товаре</h1>

<form th:method="POST" th:action="@{/product/new}" th:object="${product}" enctype="multipart/form-data">
    <table align="center">
        <tbody>
        <tr>
            <td>
                <label for="article">Артикул</label>
            </td>
            <td>
                <input type="text" th:field="*{article}" id="article">
            </td>
            <td>
                <p th:if="${#fields.hasErrors('article')}" style="color:red" th:errors="*{article}">ERROR</p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="name">Название книги</label>
            </td>
            <td>
                <input type="text" th:field="*{name}" id="name">
            </td>
            <td>
                <p th:if="${#fields.hasErrors('name')}" style="color:red" th:errors="*{name}">ERROR</p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="description">Автор:</label>
            </td>
            <td>
                <input type="text" th:field="*{description}" id="description">
            </td>
            <td>
                <p th:if="${#fields.hasErrors('description')}" style="color:red" th:errors="*{description}">ERROR</p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="price">Цена</label>
            </td>
            <td>
                <input type="text" th:field="*{price}" id="price">
            </td>
            <td>
                <p th:if="${#fields.hasErrors('price')}" style="color:red" th:errors="*{price}">ERROR</p>
            </td>
        </tr>
        <tr>
            <td>
                <label for="price">File to upload: </label>
            </td>
            <td>
                <input type="file" name="file" multiple/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Добавить"/>
            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="window.history.back();">Cancel</button>
            </td>
        </tr>


        </tbody>
    </table>
</form>

</body>
</html>